@font-face {
  font-family:jost;
  src:url(jost.ttf);
}
@font-face {
font-family: roboto;
  src:url(roboto.ttf);
}
@font-face {
  font-family:righteous;
  src:url(righteous.ttf);
}
@font-face {
    font-family: poppins;
      src:url(poppins.ttf);
}
html,body{
 margin:0;
overflow: hidden;
scroll-behavior: smooth;
}


nav{
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 5px (rgba 0,0,0,0.12), 0 1px 2px (rgba 0,0,0,0.24);

}


nav ul li {
  list-style: none;
  display:inline-block;
  margin-right: 3vh;
  

}
nav ul li a{
  text-decoration: none;
  font-family:jost;
  letter-spacing: 1px;
  color: #E5FFF4;
  font-weight: 400;
  text-transform:uppercase;
  

}
.navigation-link:hover {
  color: #5918df;
  transition-duration:.4s;
}

/* CONTENT  */
header{
  width: 100%;
  height: 100vh;

}

.bg {
  width: 100%;
  height: 100vh;
  background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)),url(img/bg.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}
#decor {
  color: #5918df;
}


.intro{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  margin-left: 15%;
  min-height: 100vh;
  position:fixed;
 
}


.heading1{
  font-family:righteous;
  font-weight:400;
  font-size: 5rem;
  color: #F8EFBA;
  margin: 0;
  padding:0;
}
@keyframes fadeInUp {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.heading1 {
  opacity: 0; 
  animation: fadeInUp 1s ease-in-out 0s forwards;
  /* animation-delay: 1s; */
 
 }

#output{
  font-family: jost;
  color: #FE9677;
}


.contactinfo{
  position: absolute;
  bottom:3%;
  right:0
}
@-webkit-keyframes full-circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes full-circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes pop {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes rotate-vertical {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotate-vertical {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
.contactinfo ul {
  list-style-type: none;
  padding: 0;
}
.contactinfo ul li {
  display: inline-block;
}
.contactinfo li a {
  position: relative;
  display: inline-block;
  width: 3em;
  height: 3em;
  padding: 10px;
  border: 2px solid #E5FFF4;
  border-radius: 50%;
  margin: 10px 30px;
  text-align: center;
  color: #E5FFF4;
}

li.linkedin:hover {
  -webkit-animation: pop .3s 2;
          animation: pop .3s 2;
}

li.github:hover {
  -webkit-animation: full-circle 1.1s ease-out;
          animation: full-circle 1.1s ease-out;
}

li.mail:hover {
  -webkit-animation: rotate-vertical 1.1s ease-out;
          animation: rotate-vertical 1.1s ease-out;
}

.page2{
  background: #ffff;
  height: 100vh;
  width: 100%;
  position:relative;
}

.bg2{
  width: 100%;
  height: 100vh;
  background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.8)),url(img/bgf.png);
  background-repeat: no-repeat;
  background-size: cover;
  
  background-attachment: fixed;
 
  
} 


.name{
  margin-top: 12vh;
  margin-left: 10%;
  margin-right: 10%;
  max-height: 30%;
  position:absolute;
}  

.name p{
 
  text-decoration: none;
  text-align: center;
  font-family: 'poppins';
  color: #ffff;
}
  
.skill-container {
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center ;
}
.box{
  width: 90%;
  height: 60%;
  margin-top: 5%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items:center;
}
.skill{
  margin:20px;
  width:28%;
  height: 90%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.8;
  transition: 0.3s ease;
}
.skill .icon{
  width: 100%;
  height:50%;
  background: #2C3E50;
  display:flex;
  justify-content: center;
  align-items: center;
 
}

.skill .icon img{
  width: 50% ;
  transition: 2s;
}
.skill:hover{
  width: 30%;
  height: 100%;
}
.skill:hover img{
  transform: rotate(20deg);
}
.skill .skill-header {
  width: 100%;
  height: 10%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: jost;
  color: #232323;
}
.skill .skill-description {
  width: 100%;
  height: 60%;
  background: #f0f0f0;
}
.skill-description ul li {
  display:inline-flex;
  justify-content: center;
}
.skill-description ul li i{
  font-size: 4rem;
  letter-spacing: 10px;
}
.page3{
  background: #ffff;
  height: 100vh;
  width: 100%;
  position:relative;
}
.project-box{
  width: 100%;
  height: 75%;
  margin-top: 5%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items:center;
}
.project{
  margin:10px;
  width:30%;
  height: 95%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.8;
  transition: 0.3s ease;
}
.project .project-img {
  width: 100%;
  height:50%;
  background: #2C3E50;
  display:flex;
  justify-content: center;
  align-items: center;
 
}
.project .project-img img{
  width: 90% ;
  transition: 2s;
}
.project:hover{
  width: 35%;
  height: 100%;
}

.project .project-header {
  width: 100%;
  height: 10%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: jost;
  color: #232323;
}
.project .project-description {
  width: 100%;
  height: 60%;
  background: #f0f0f0;
}
.project-description ul li {
  
  font-size: 18px;
 font-family: "poppins";
}
